@layer reset, antd;
@import url(antd/dist/reset.css) layer(reset);

*::-webkit-scrollbar {
  display: none;
}

.ant-input-number-affix-wrapper {
  color: var(--ant-color-text-quaternary);
}

.ant-descriptions.ant-descriptions-bordered > .ant-descriptions-view {
  border: none;
}

.ant-flex:empty {
  display: unset;
}
