@layer reset, antd;
@import url(antd/dist/reset.css) layer(reset);

body {
  overflow: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

.ant-modal-content {
  border: 1px solid var(--ant-color-border-secondary) !important;
}

.page-spinner > .ant-spin-dot-holder {
  color: var(--ant-color-primary) !important;
}

.ant-input-number-affix-wrapper {
  color: var(--ant-color-text-quaternary);
}

.ant-descriptions.ant-descriptions-bordered > .ant-descriptions-view {
  border: none;
}

.ant-flex:empty {
  display: unset;
}

.ant-select-item-option-content {
  white-space: normal !important;
}

.ant-drawer-header {
  border: none !important;
  flex-direction: row-reverse;
}

.ant-drawer-content {
  border-top-left-radius: var(--ant-border-radius-lg) !important;
  border-top-right-radius: var(--ant-border-radius-lg) !important;
}
