.container {
  position: relative;
  z-index: 1;
}

.container::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -64px;
  height: 56px;
  pointer-events: none;
  background: linear-gradient(
    to top,
    var(--ant-color-bg-container),
    transparent
  );
}

.segmented {
  border: 1px solid var(--ant-color-border-secondary);
}
